<div class="auth-form">
    <div class="auth-form__info">
        <h2 class="auth-form__suggest">Войдите, чтобы использовать все возможности</h2>
        <ul class="labels-group">
            <li class="labels-group__icon">
                <div class="icon">
                    <img src="images/cloud.svg">
                </div>
                <span class="labels-group__text--secondary labels-group__text">Общение об объявлениях в чатах</span>
            </li>
            <li class="labels-group__icon">
                <div class="icon">
                    <img src="images/ruble.svg">
                </div>
                <span class="labels-group__text--secondary labels-group__text">Бесплатное размещение объявлений</span>
            </li>
            <li class="labels-group__icon">
                <div class="icon">
                    <img src="images/shield.svg">
                </div>
                <span class="labels-group__text--secondary labels-group__text">Покупки со скидкой по безопасной сделке</span>
            </li>
        </ul>
    </div>     
    <div class="auth-form__main">
        <img class="logo" src="images/vol4ok.svg">
        <h1 class="auth-form__title">{{title}}</h1>
        <form class="form">
            {{#each inputs}}
                <div class="form__input">
                    <input name="{{this.name}}" type="{{this.type}}" placeholder="{{this.placeholder}}">
                </div>
            {{/each}}
            <button type="submit" class="form__btn btn-primary">{{buttonText}}</button>
            <p class="form__label">{{askText}} <a href="{{url}}" data-url="{{url}}">{{anchorText}}</a></p>
        </form>
        <div class="error"></div>
    </div>
</div>
