
<div class="atribute-list">
  <h1>Личные данные</h1>
  <div class="DescriptionsItem">
    <div class="DescriptionsTerm">Профиль</div>
    <div class="DescriptionsDetails">
      <img class="B40d90b09f74cfc5244da1Jpg" src="https://via.placeholder.com/24x24" />
      <div class="PScCoxwqc">
        <div class="User">{{name}}</div>
        <div class="Name">{{surname}}</div>
      </div>
    </div>
    <button class="set-or-edit-label">Редактировать</button>
    <div class="After"></div>
  </div>
  <div class="DescriptionsItem">
    <div class="DescriptionsTerm">Телефон</div>
    {{#if (is_null phone)}}
    <div class="DescriptionsDetails">
      Добавьте номер телефона, по которому с вами смогут связаться покупатели
    </div>
    <button class="set-or-edit-label">Указать</button>
    {{^}}
    <div class="DescriptionsDetails">
      {{phone}}
    </div>
    <button class="set-or-edit-label">Редактировать</button>
    {{/if}}

    <div class="After"></div>
  </div>
  <div class="DescriptionsItem">
    <div class="DescriptionsTermEMail">E-mail</div>
    <div class="DescriptionsDetails">
      <div class="SomeemailMailCom">{{email}}</div>
    </div>
    <div class="After"></div>
    <button class="set-or-edit-label">Редактировать</button>
  </div>
  <div class="DescriptionsItem">
    <div class="DescriptionsTerm">Город</div>
    {{#if (is_null city)}}
    <div class="DescriptionsDetails">
      Не указано
    </div>
    <button class="set-or-edit-label">Указать</button>
    {{^}}
    <div class="DescriptionsDetails">
      {{city}}
    </div>
    <button class="set-or-edit-label">Редактировать</button>
    {{/if}}
    <div class="After"></div>
  </div>
</div>
