<ul class="adPath">
    <li class="city">
        <a href="{{cityPath}}">{{city}}</a>
    </li>
    <li class="category">
        <a href="{{categoryPath}}">{{category}}</a>
    </li>
    <li class="name">
        <a>{{name}}</a>
    </li>
</ul>