<div class="order-block" data-id="{{id}}">
    {{#if photo}}
        <img class="order-block__item-image" src="{{photo}}">
    {{^}}
        <img class="order-block__item-image" src="/images/cart_placeholder_image.webp">
    {{/if}}
    <div class="order-block__info">
        <div class="order-block__price">{{price}}&nbsp;₽</div>
        <div class="order-block__title">{{title}}</div>
        <div class="order-block__item">
            <div class="order-block__item--hint">Статус заказа:</div> 
            <div class="order-block__item--desc">{{status}}</div>
        </div>
        <div class="order-block__item">
            <div class="order-block__item--hint">Имя получателя:</div> 
            <div class="order-block__item--desc">{{name}}</div>
        </div>
        <div class="order-block__item">
            <div class="order-block__item--hint">Телефон:</div> 
            <div class="order-block__item--desc">{{phone}}</div>
        </div>
        <div class="order-block__item">
            <div class="order-block__item--hint">Адрес доставки:</div> 
            <div class="order-block__item--desc">{{address}}</div>
        </div>
        {{#if isPerchasesChecked}}
            {{#if notRated}}
            <div class="order-block__rating">
                <div class="order-block__rating--text" data-id="{{id}}">Пожалуйста, оцените заказ:</div>
                <div class="order-block__rating--stars"></div>
            </div>
            {{^}}
            <div class="order-block__has-rating"></div>
            {{/if}}
        {{^}}
        <div class="order-block__has-rating"></div>
        {{/if}}
    </div>
</div>
