<div class="form__title">
    Размещение объявления
</div>
<form action="/submit" method="post" class="form">
    <label class="form__label" for="category">Категория товара<span class="asterisk">*</span></label>
    <select class="form__select" id="category" name="category" text="Не выбрано" required>
        <option value="" selected disabled hidden>Выберите категорию</option>
        <option value="Test">Тестовая категория</option>
        <!-- Добавьте другие категории здесь -->
    </select>

    <label class="form__label" for="condition">Состояние товара</label>
    <select class="form__select" id="condition" name="condition">
        <option value="" selected disabled hidden>Выберите состояние</option>
        <option value="1">Новый</option>
        <option value="2">Б/У</option>
        <!-- Добавьте другие состояния здесь -->
    </select>

    <label class="form__label" for="title">Название товара<span class="asterisk">*</span></label>
    <div class="form__input--description">
        <input class="form__input form__input--description" type="text" id="title" name="title" value="{{title}}" required>
        <div class="form__description">Название не должно превышать 50 символов</div>
    </div>
    <label class="form__label" for="price">Цена<span class="asterisk">*</span></label>
    <div>
        <input class="form__input form__input--min" type="number" id="price" name="price" value="{{price}}" required>
        <span>₽</span>
    </div>
    <label class="form__label" for="description">Описание</label>
    <div>
        <textarea class="form__textarea form__input--description" id="description" name="description">{{description}}</textarea>
        <div class="form__description">До 3000 символов</div>
    </div>
    <label class="form__label" for="photos">Фотографии<span class="asterisk">*</span></label>
    <input class="form__input" type="file" id="photos" name="photos" multiple required>

    <label class="form__label" for="location">Местоположение<span class="asterisk">*</span></label>
    <input class="form__input" type="text" id="location" name="city" value="{{city}}" required>

    <label class="form__label" for="phone">Телефон<span class="asterisk">*</span></label>
    <input class="form__input form__input--min" type="tel" id="phone" name="phone" pattern="[0-9]{11}" required>
    <input type="submit" class="form__button" value="{{btn}}">
</form>
