<div class="ad-creation-container">
    <div class="ad-creation-container__title">
        {{#if create}}
        Размещение объявления
        {{^}}
        Редактирование объявления
        {{/if}}
    </div>
    <form action="/submit" method="post" class="form" ecntype="multipart/form-data">
        <label class="form__label" for="category">Категория товара<span class="asterisk">*</span></label>
        <select class="form__select" id="category" name="category" text="Не выбрано" required>
            <option value="" selected disabled hidden>Выберите категорию</option>
            <option value="zhenskij_garderob">Женский гардероб</option>
            <option value="muzhskoj_garderob">Мужской гардероб</option>
            <option value="detskij_garderob">Детский гардероб</option>
            <option value="detskie_tovary">Детские товары</option>
            <option value="handmade">Хэндмэйд</option>
            <option value="telefony_i_planshety">Телефоны и планшеты</option>
            <option value="foto_i_videokamery">Фото и видеокамеры</option>
            <option value="kompyuternaya_texnika">Компьютерная техника</option>
            <option value="tv_audio_i_video">ТВ, аудио и видео</option>
            <option value="bytovaya_texnika">Бытовая техника</option>
            <option value="dlya_doma_i_dachi">Для дома и дачи</option>
            <option value="strojmaterialy_i_instrumenty">Стройматериалы и инструменты</option>
            <option value="krasota_i_zdorove">Красота и здоровье</option>
            <option value="sport_i_otdyx">Спорт и отдых</option>
            <option value="xobbi_i_razvlecheniya">Хобби и развлечения</option>
            <option value="prochee">Прочее</option>
            <!-- Добавьте другие категории здесь -->
        </select>

        <label class="form__label" for="condition">Состояние товара<span class="asterisk">*</span></label>
        <select class="form__select" id="condition" name="condition" required>
            <option value="" selected disabled hidden>Выберите состояние</option>
            <option value="1">Новый</option>
            <option value="2">Б/У</option>
            <!-- Добавьте другие состояния здесь -->
        </select>

        <label class="form__label" for="title">Название товара<span class="asterisk">*</span></label>
        <div class="form__input--secondary">
            <input class="form__input form__input--secondary" type="text" id="title" name="title" value="{{title}}"
                maxlength="70" required>
            <div class="form__description">Название не должно превышать 70 символов</div>
            <div class="form__title-error error"></div>
        </div>
        <label class="form__label" for="price">Цена<span class="asterisk">*</span></label>
        <div>
            <input class="form__input form__input--min" type="number" min="0" id="price" name="price" value="{{price}}"
                required>
            <span class="ruble">&nbsp;₽</span>
        </div>
        <label class="form__label" for="description">Описание<span class="asterisk">*</span></label>
        <div>
            <textarea class="form__textarea form__input--secondary" id="description" name="description" maxlength="3000" required>{{description}}</textarea>
            <div class="form__description">До 3000 символов</div>
            <div class="form__description-error error"></div>
        </div>
        <label class="form__label" for="photos">Фотографии<span class="asterisk">*</span></label>
        <div class="form__input--secondary">
            <div class=" form__upload"></div>
            <div class="form__description">Первое фото будет отображаться в результатах поиска, выберите наиболее удачное. Вы можете загрузить до 10 фотографий в формате JPG или PNG.</div>
            <div class="form__file-error error"></div>
        </div>
        <label class="form__label" for="location">Местоположение<span class="asterisk">*</span></label>
        <div class="location-place"></div>
        <label class="form__label" for="phone">Телефон<span class="asterisk">*</span></label>
        <div>
            <input class="form__input form__input--min" type="tel" id="phone" name="phone" {{#if phone}}value="{{phone}}"{{/if}}>
            <div class="form__phone-error error"></div>
        </div>
        {{#if create}}
            <input type="submit" class="form__button" value="Разместить объявление">
        {{^}}
            <input type="submit" class="form__button" value="Сохранить изменения">
        {{/if}}
        <input type="hidden" name="CSRFToken" value="{{CSRFToken}}">
    </form>
</div>
