<div class="dropdown-with-search">
    <select class="dropdown-with-search--none" name="">
        {{#each items}}
            <option value="{{value}}">{{label}}</option>
        {{/each}}
    </select>
    <div class="dropdown-with-search--select wide" tabindex="0">
        <span class="dropdown-with-search__current">{{current}}</span>
        <div class="dropdown-with-search__list">
            <div class="search">
                <input id="txtSearchValue" placeholder="Введите название города" autocomplete="off"
                    class="search__box txtSearchValue" type="text">
            </div>
            <ul class="citylist">
                {{#each items}}
                    <li class="citylist__option {{#if isSelected}}citylist__option--selected{{/if}}" data-value="{{value}}" data-id="{{this.id}}" data-display-text="">{{label}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
