<div>
    <div class="post-block">
        <div class="top-panel">
            <h3 class="price-mobile">{{price}} ₽</h3>
            <div class="title">
                <h1>{{title}}</h1>
            </div>
            <div class="favourite">
                {{#if isAuthor}}
                    <a class="btn-edit" href="{{editPath}}">
                        <img src="images/pencil_12.svg" class="edit-pencil">
                        <span>Редактировать объявление</span>
                    </a>
                {{^}}
                    {{#if inFavorites}}
                        <a class="btn-favourite">
                            <div class="like-heart active">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176.104 176.104">
                                    <path d="M150.383 18.301a49.633 49.633 0 0 0-24.033-6.187c-15.394 0-29.18 7.015-38.283 18.015-9.146-11-22.919-18.015-38.334-18.015-8.704 0-16.867 2.259-24.013 6.187C10.388 26.792 0 43.117 0 61.878 0 67.249.874 72.4 2.457 77.219c8.537 38.374 85.61 86.771 85.61 86.771s77.022-48.396 85.571-86.771a49.09 49.09 0 0 0 2.466-15.341c0-18.754-10.388-35.074-25.721-43.577z"/>
                                </svg>
                            </div>
                            <span class="btn-favourite__text">Удалить из избранного</span>
                        </a>
                    {{^}}
                        <a class="btn-favourite">
                            <div class="like-heart">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176.104 176.104">
                                    <path d="M150.383 18.301a49.633 49.633 0 0 0-24.033-6.187c-15.394 0-29.18 7.015-38.283 18.015-9.146-11-22.919-18.015-38.334-18.015-8.704 0-16.867 2.259-24.013 6.187C10.388 26.792 0 43.117 0 61.878 0 67.249.874 72.4 2.457 77.219c8.537 38.374 85.61 86.771 85.61 86.771s77.022-48.396 85.571-86.771a49.09 49.09 0 0 0 2.466-15.341c0-18.754-10.388-35.074-25.721-43.577z"/>
                                </svg>
                            </div>
                            <span class="btn-favourite__text">Добавить в избранное</span>
                        </a>
                    {{/if}} 
                {{/if}}
                <div class="message message--hidden"></div>
            </div>
        </div>
        <div class="post-images">
            <div class="post-images__carousel">
              <div class="carousel">
                  <div class="images">
                      {{#each photos}}
                          <img class="img-carousel" src="data:image/png;base64,{{this}}" alt="Image 1">
                      {{/each}}
                  </div>
              </div>
            </div>
            <div class="btn-container">
                <div class="btn-container__prev-container">
                    <button class="btn-container__prev-btn"><img src="images/left-arrow-backup-2-svgrepo-com.svg"></button>
                </div>
                <div class="btn-container__next-container">
                    <button class="btn-container__next-btn"><img src="images/right-arrow-backup-2-svgrepo-com.svg"></button>
                </div>
            </div>
        </div>
        <ul class="post-description">
            <div class="post-description__section">
                <li class="location">
                    <img src="images/location_map_outline_20.svg">
                    <span class="property-name">Местоположение</span>
                    <span class="property-description">{{city}}</span>
                </li>
                <li class="end-of-block">
                    <span class="property-name">Категория</span>
                    <span class="property-description">{{category}}</span>
                </li>
                <li class="end-of-block">
                    <span class="property-name">Состояние</span>
                    <span class="property-description">{{state}}</span>
                </li>
                <li>
                    <span class="property-name">Описание</span>
                    <span class="property-description">{{description}}</span> 
                </li>
            </div>
            <div class="post-description__section">
                <li>
                    <span class="property-name">В избранном</span>
                    <span class="property-description">{{favouritesNum}}</span>
                </li>
                <li>
                    <span class="property-name">Просмотры</span>
                    <span class="property-description">{{views}}</span>
                </li>
                <li>
                    <span class="property-name">Размещено</span>
                    <span class="property-description">{{created}}</span>
                </li>
            </div>
        </ul>
    </div>
    <div class="seller-block">
        <h1 class="price title">{{price}} ₽</h1>
        {{#if isAuthor}}
            <a class="seller-block__btn close" href="#" data-id="{{id}}" >Снять с продажи</a>
        {{^}}
            <a class="seller-block__btn cart" href="#" data-id="{{id}}" >Добавить в корзину</a>
        {{/if}}
    </div>
</div>
