<div>
    <div class="post-block">
        <div class="post-block__top-panel">
            <div class="post-block__price-block--mobile">
                <h3 class="post-block__price--mobile">{{price}} ₽</h3>
                <a class="history-btn history-btn--mobile" href="#" data-id="{{id}}"> 
                <div class="history-btn__price-deff">
                    <div class="history-btn__price"></div>
                </div>
                <div class="history-btn__sign">&#8250;</div>
            </a>
            </div>
            <div class="title">
                <h1>{{title}}</h1>
            </div>
            {{#if active}}
                <div class="favourite">
                    {{#if isAuthor}}
                        <a class="favourite__btn--edit" href="{{editPath}}">
                            <img src="images/pencil_12.svg" class="favourite__edit-pencil">
                            <span>Редактировать объявление</span>
                        </a>
                    {{^}}
                        {{#if inFavorites}}
                            <a class="favourite__btn--favourite">
                                <div class="like-heart like-heart--active">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176.104 176.104">
                                        <path d="M150.383 18.301a49.633 49.633 0 0 0-24.033-6.187c-15.394 0-29.18 7.015-38.283 18.015-9.146-11-22.919-18.015-38.334-18.015-8.704 0-16.867 2.259-24.013 6.187C10.388 26.792 0 43.117 0 61.878 0 67.249.874 72.4 2.457 77.219c8.537 38.374 85.61 86.771 85.61 86.771s77.022-48.396 85.571-86.771a49.09 49.09 0 0 0 2.466-15.341c0-18.754-10.388-35.074-25.721-43.577z"/>
                                    </svg>
                                </div>
                                <span class="favourite__text">Удалить из избранного</span>
                            </a>
                        {{^}}
                            <a class="favourite__btn--favourite">
                                <div class="like-heart">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176.104 176.104">
                                        <path d="M150.383 18.301a49.633 49.633 0 0 0-24.033-6.187c-15.394 0-29.18 7.015-38.283 18.015-9.146-11-22.919-18.015-38.334-18.015-8.704 0-16.867 2.259-24.013 6.187C10.388 26.792 0 43.117 0 61.878 0 67.249.874 72.4 2.457 77.219c8.537 38.374 85.61 86.771 85.61 86.771s77.022-48.396 85.571-86.771a49.09 49.09 0 0 0 2.466-15.341c0-18.754-10.388-35.074-25.721-43.577z"/>
                                    </svg>
                                </div>
                                <span class="favourite__text">Добавить в избранное</span>
                            </a>
                        {{/if}} 
                    {{/if}}
                    <div class="message message--hidden"></div>
                </div>
            {{/if}}
        </div>
        <div class="post-images">
            <div class="post-images__carousel">
              <div class="carousel">
                  <div class="images">
                      {{#each photos}}
                          <img class="images__item" src="data:image/png;base64,{{this}}" alt="Image 1">
                      {{/each}}
                  </div>
              </div>
            </div>
            <div class="post-images__btn-container">
                <div class="post-images__prev-container">
                    <button class="post-images__prev-btn"><img src="images/left-arrow-backup-2-svgrepo-com.svg"></button>
                </div>
                <div class="post-images__next-container">
                    <button class="post-images__next-btn"><img src="images/right-arrow-backup-2-svgrepo-com.svg"></button>
                </div>
            </div>
        </div>
        <ul class="post-description">
            <div class="post-description__section">
                <li class="location">
                    <img src="images/location_map_outline_20.svg">
                    <span class="post-description__property--primary">Местоположение</span>
                    <span class="post-description__property--secondary">{{city}}</span>
                </li>
                <li class="post-description__end-of-block">
                    <span class="post-description__property--primary">Категория</span>
                    <span class="post-description__property--secondary">{{category}}</span>
                </li>
                <li class="post-description__end-of-block">
                    <span class="post-description__property--primary">Состояние</span>
                    <span class="post-description__property--secondary">{{state}}</span>
                </li>
                <li>
                    <span class="post-description__property--primary">Описание</span>
                    <span class="post-description__property--secondary">{{description}}</span> 
                </li>
            </div>
            <div class="post-description__section">
                <li>
                    <span class="post-description__property--primary">В избранном</span>
                    <span class="post-description__property--secondary">{{favouritesNum}}</span>
                </li>
                <li>
                    <span class="post-description__property--primary">Просмотры</span>
                    <span class="post-description__property--secondary">{{views}}</span>
                </li>
                <li>
                    <span class="post-description__property--primary">Размещено</span>
                    <span class="post-description__property--secondary">{{created}}</span>
                </li>
            </div>
        </ul>
    </div>
    <div class="seller-block">
        <div class="post-block__price-block">
            <h1 class="price title">{{price}} ₽</h1>
            <a class="history-btn" href="#" data-id="{{id}}"> 
                <div class="history-btn__price-deff">
                    <div class="history-btn__price"></div>
                    <canvas class="history-btn__canvas" width="55" height="24"></canvas>
                </div>
                <div class="history-btn__sign">&#8250;</div>
            </a>
        </div>
        {{#if active}}
            {{#if isAuthor}}
            <a class="seller-block__btn seller-block__btn--close" data-id="{{id}}" >Снять с продажи</a>
            {{#if isPromoted}}
            {{#with promotionData}}
            <div class="promotion-info">
                <div class="promotion-info__container">
                    <div class="promotion-info__container--text-block">
                        <div class="title">
                            {{tariff}}
                        </div>
                        <div class="hint">
                            {{timeTitle}}
                        </div>
                    </div>
                    <div class="promotion-info__container--icon">
                        {{#if (is_equal tariff 'Максимум')}}
                        <div class="promotion-info__container--circle maximum">
                            <svg height="30" viewBox="0 0 28 28" width="30" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd" d="m10.0625 4c-.15315 0-.30426.03518-.44167.10283l-4.0498 1.99375c-.1596.07561-.30083.19419-.40457.35097-.00928.01401-.01821.02825-.02678.04271l-2.98501 4.97504c-.00504.008-.00998.016-.01481.0242-.04015.0675-.07165.1387-.09452.2121-.02336.0746-.03756.1507-.04296.2268-.00795.1093.00233.2171.02879.3199.02667.1045.07048.2055.13141.2986.04086.0627.08911.1213.14438.1743l10.98044 10.9804c.0128.013.026.0257.0395.038.1715.1563.3843.2423.6012.2578l.0239.0015.0023.0001c.0152.0007.0305.001.0457.001.0285 0 .057-.0012.0855-.0036.2121-.0181.4196-.1037.5876-.2568.0135-.0123.0267-.025.0395-.038l10.9803-10.9803c.0049-.0047.0097-.0094.0144-.0142.0649-.0647.1194-.137.1632-.2144.0422-.0745.0742-.1534.0958-.2345.0296-.1104.0405-.2268.0301-.3447-.0081-.0948-.0299-.1893-.0658-.2802-.0179-.0455-.0393-.09-.0641-.133-.0185-.0321-.0386-.0628-.0602-.0923l-3.487-4.98146c-.0935-.1335-.2136-.23718-.3482-.30889l-3.5441-1.98963c-.1495-.08394-.318-.12802-.4895-.12802zm11.0583 4.20197-3.3898 1.23264 1.2054 3.21429c.001.0027.002.0053.0029.008l4.4321-1.2397zm-4.1888 4.79803-1.125-3h-3.614l-1.125 3zm-7.87128-.3431c.00098-.0027.00197-.0053.00298-.008l1.1912-3.17652-3.8101-1.27002-1.91269 3.18784zm-.43401-5.83543 1.66859-.82147h7.3807l1.434.80504-3.2862 1.19496h-3.6615zm2.27219 11.66313-4.49384-4.4938 2.85099.7975zm3.1011 2.0532-2.4612-5.5378h4.9224zm3.1011-2.0532 1.6428-3.6963 2.851-.7974z" fill="currentColor" fill-rule="evenodd"></path>
                            </svg>
                        </div>
                        {{/if}}
                        {{#if (is_equal tariff 'Премиум')}}
                        <div class="promotion-info__container--circle premium">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 28 28">
                                <path d="M15.207 8.69a2.5 2.5 0 1 0-2.414 0l-3.328 4.659c-.163.228-.244.342-.35.397a.5.5 0 0 1-.305.051c-.12-.018-.233-.1-.461-.262l-2.631-1.88a2.5 2.5 0 1 0-2.523 1.326L4.7 18h18.6l1.505-5.018a2.5 2.5 0 1 0-2.523-1.327l-2.631 1.88c-.228.163-.342.244-.46.262a.5.5 0 0 1-.305-.05c-.107-.056-.188-.17-.351-.398l-3.328-4.66ZM10.071 24c-1.281 0-1.922 0-2.462-.218a3 3 0 0 1-1.219-.907c-.364-.455-.548-1.068-.916-2.296L5.3 20h17.4l-.174.58c-.368 1.227-.552 1.84-.916 2.295a2.999 2.999 0 0 1-1.219.907c-.54.218-1.18.218-2.462.218H10.07Z"/>
                            </svg>
                        </div>
                        {{/if}}
                        {{#if (is_equal tariff 'Поднятие')}}
                        <div class="promotion-info__container--circle lifting">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M3.142 10.503a.5.5 0 0 1-.367-.84l4.858-5.262a.5.5 0 0 1 .734 0l4.858 5.263a.5.5 0 0 1-.367.839H3.142Z"/>
                            </svg>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <progress class="promotion-info__progress-bar" id="progressBar" value="{{leftTime}}" max="{{duration}}"></progress>
            </div>
            {{/with}}
            {{^}}
            <a class="seller-block__btn seller-block__btn--promote" data-id="{{id}}">Продвинуть объявление</a>
            {{/if}}
            {{^}}
             <a class="seller-block__btn seller-block__btn--cart" data-id="{{id}}" >Добавить в корзину</a>
            {{/if}}
        {{/if}}
    </div>
</div>
