<a id="{{id}}" href="{{path}}">
    <div class="card" title="{{title}}" data-id={{id}}>
        {{!-- <img src="data:image;base64,{{photo}}" alt="Avatar"> --}}
        <div class="container">
            <p class="cost">{{price}} ₽</p>
            <p class="description">{{titleTrim}}</p>
            <svg width="30" height="9" viewBox="0 0 30 9" fill="white" class="vector-arch"><path d="M27.865 8H0v-.004A3.002 3.002 0 0 0 2.67 6h.007c1.407-3.617 4.88-6 9.165-6h6.316c4.285 0 7.758 2.383 9.165 6h.008A3.002 3.002 0 0 0 30 7.996V8h-2.135zM15.088 24h-.18.18zM0 8h30v1H0V8z"></path></svg>
            <img class="like-icon" src="images/heart.svg">
        </div>
    </div>
</a>
