<a href="{{path}}">
    <div class="card" title="{{title}}" data-id={{id}}>
        <img src="default_product.png" alt="Avatar" style="width:100%">
        <div class="container">
            <p class="cost">{{price}} ₽</p>
            <p class="description">{{title}}</p>
            <img class="like-icon" src="heart.svg">
        </div>
    </div>
</a>
