<div>
  <div class="card-container">
    <div class="card-header">
      <div>{{merchantsName}}</div>
    </div>
    <div class="card-content">
      <div class="avatar-container">
        {{#if (is_null avatar)}}
        <img class="avatar-image" src="public/images/img_avatar.png" />
        {{^}}
        <img class="avatar-image" src="data:image;base64,{{avatar}}" />
        {{/if}}
        <div class="avatar-overlay"></div>
      </div>
      <div class="card-info">
        <div class="date">
          <div>на Волчке с {{registrationDate}}</div>
        </div>
        <div class="rating">

        </div>
      </div>
    </div>
  </div>

  {{#if isProfileVerified}}
  <div class="profile-card cursor-hand-hover">
      <div class="profile-icon-container">
        <div class="verified-profile-icon">
          <div class="icon-group">
            <div class="icon-vector"><svg width="18" height="23" viewBox="0 0 18 23" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M8.99039 0.609863L-0.00585938 4.6082V10.6057C-0.00585938 16.1534 3.83254 21.3412 8.99039 22.6007C14.1482 21.3412 17.9866 16.1534 17.9866 10.6057V4.6082L8.99039 0.609863Z"
                  fill="#B9E28C" />
              </svg>
            </div>
            <div class="icon-vector-white"><svg width="12" height="17" viewBox="0 0 12 17" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5.99055 8.07551C9.27939 8.07551 11.9884 9.39504 11.9884 11.0744C11.7485 11.6043 11.4586 12.1041 11.1187 12.6039C9.90754 14.4579 8.09763 15.8409 5.99055 16.5225C3.88347 15.8409 2.07356 14.4579 0.862368 12.6039C0.522488 12.1041 0.232591 11.6043 -0.00732422 11.0744C-0.00732422 9.42503 2.70172 8.07551 5.99055 8.07551ZM5.99055 0.608154C6.78592 0.608154 7.54871 0.924113 8.11112 1.48652C8.67353 2.04893 8.98949 2.81172 8.98949 3.60709C8.98949 4.40246 8.67353 5.16525 8.11112 5.72766C7.54871 6.29007 6.78592 6.60603 5.99055 6.60603C5.19518 6.60603 4.43239 6.29007 3.86998 5.72766C3.30757 5.16525 2.99161 4.40246 2.99161 3.60709C2.99161 2.81172 3.30757 2.04893 3.86998 1.48652C4.43239 0.924113 5.19518 0.608154 5.99055 0.608154Z"
                  fill="white" />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-info">
        <div class="profile-status">
          <div>Подтвержденный профиль</div>
        </div>
        <div class="profile-actions">
          <div class="action-icon">
            <div class="icon-vector-gray"><svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.48" fill-rule="evenodd" clip-rule="evenodd"
                  d="M8.77904 0.510498C10.8593 0.510498 12.8543 1.33686 14.3252 2.80781C15.7962 4.27875 16.6225 6.27377 16.6225 8.354C16.6225 10.4342 15.7962 12.4292 14.3252 13.9002C12.8543 15.3711 10.8593 16.1975 8.77904 16.1975C6.69894 16.1975 4.70404 15.3712 3.2332 13.9003C1.76235 12.4295 0.936035 10.4346 0.936035 8.3545C0.936035 6.27441 1.76235 4.27951 3.2332 2.80866C4.70404 1.33781 6.69894 0.510498 8.77904 0.510498ZM8.77904 1.4915C7.87777 1.4915 6.98534 1.66901 6.15268 2.01391C5.32002 2.35881 4.56345 2.86434 3.92616 3.50162C3.28887 4.13891 2.78335 4.89548 2.43845 5.72814C2.09355 6.5608 1.91603 7.45324 1.91603 8.3545C1.91603 9.25576 2.09355 10.1482 2.43845 10.9809C2.78335 11.8135 3.28887 12.5701 3.92616 13.2074C4.56345 13.8447 5.32002 14.3502 6.15268 14.6951C6.98534 15.04 7.87777 15.2175 8.77904 15.2175C10.5992 15.2175 12.3448 14.4944 13.6319 13.2074C14.919 11.9203 15.642 10.1747 15.642 8.3545C15.642 6.53432 14.919 4.78869 13.6319 3.50162C12.3448 2.21456 10.5992 1.4915 8.77904 1.4915ZM9.51403 7.4235V12.3255H8.04503V7.4235H9.51504H9.51403ZM8.77904 4.4335C8.90773 4.4335 9.03516 4.45885 9.15406 4.5081C9.27296 4.55735 9.381 4.62953 9.472 4.72053C9.563 4.81153 9.63519 4.91957 9.68444 5.03847C9.73369 5.15737 9.75904 5.2848 9.75904 5.4135C9.75904 5.54219 9.73369 5.66963 9.68444 5.78853C9.63519 5.90743 9.563 6.01546 9.472 6.10646C9.381 6.19746 9.27296 6.26965 9.15406 6.3189C9.03516 6.36815 8.90773 6.3935 8.77904 6.3935C8.51912 6.3935 8.26986 6.29025 8.08607 6.10646C7.90229 5.92268 7.79904 5.67341 7.79904 5.4135C7.79904 5.15359 7.90229 4.90432 8.08607 4.72053C8.26986 4.53675 8.51912 4.4335 8.77904 4.4335Z"
                  fill="#858585" />
              </svg>
            </div>
          </div>
        </div>
      </div>
  </div>
  {{/if}}

  <div class="statistics-container">
    <div class="statistics-item cursor-hand-hover">
      <div class="statistics-button">
        <div class="button-number">{{reviewCount}}</div>
        <div class="button-label">отзыв</div>
      </div>
    </div>
    <div class="statistics-item cursor-hand-hover">
      <div class="statistics-button">
        <div class="button-number">{{subscribersCount}}</div>
        <div class="button-label">подписчик</div>
      </div>
    </div>
    <div class="statistics-item cursor-hand-hover">
      <div class="statistics-button">
        <div class="button-number">{{subscribtionsCount}}</div>
        <div class="button-label">подписок</div>
      </div>
    </div>
  </div>

  <div class="labels-group verticle-button-group-profile radio-group-vertical">
    <label class="labeled-icon text-highlighting-hover cursor-hand-hover">
      <div class="icon">
        <svg width="24px" fill="none" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path fil-rule="evenodd" clip-rule="evenodd" d="M4,10.5 C3.17,10.5 2.5,11.17 2.5,12 C2.5,12.83 3.17,13.5 4,13.5 C4.83,13.5 5.5,12.83 5.5,12 C5.5,11.17 4.83,10.5 4,10.5 L4,10.5 Z M4,4.5 C3.17,4.5 2.5,5.17 2.5,6 C2.5,6.83 3.17,7.5 4,7.5 C4.83,7.5 5.5,6.83 5.5,6 C5.5,5.17 4.83,4.5 4,4.5 L4,4.5 Z M4,16.5 C3.16541353,16.5 2.5,17.1766917 2.5,18 C2.5,18.8233083 3.17669173,19.5 4,19.5 C4.82330827,19.5 5.5,18.8233083 5.5,18 C5.5,17.1766917 4.83458647,16.5 4,16.5 L4,16.5 Z M21,18 L21,18 C21,17.4477153 20.5522847,17 20,17 L8,17 C7.44771525,17 7,17.4477153 7,18 L7,18 C7,18.5522847 7.44771525,19 8,19 L20,19 C20.5522847,19 21,18.5522847 21,18 Z M21,12 L21,12 C21,11.4477153 20.5522847,11 20,11 L8,11 C7.44771525,11 7,11.4477153 7,12 L7,12 C7,12.5522847 7.44771525,13 8,13 L20,13 C20.5522847,13 21,12.5522847 21,12 Z M8,7 L20,7 C20.5522847,7 21,6.55228475 21,6 L21,6 C21,5.44771525 20.5522847,5 20,5 L8,5 C7.44771525,5 7,5.44771525 7,6 L7,6 C7,6.55228475 7.44771525,7 8,7 Z" id="Mask" fill="#7092FE"></path> 
        </svg>
      </div>
      <div class="Active-vertical">
        <input type="radio" name="radio-vertical" value="adverts" checked />
        <span class="text-secondary icon-text">Мои объявления</span>
      </div>
    </label>
    <label class="labeled-icon text-highlighting-hover cursor-hand-hover">
      <div class="icon">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M4.15475 5.50189L4.05444 5.54634C3.60521 5.7451 3.1893 5.92913 2.87046 6.2346C2.59181 6.50157 2.37874 6.82943 2.24795 7.19249C2.0983 7.60792 2.09905 8.06273 2.09987 8.55396L2.09999 8.66368V15.4403L2.09986 15.5456C2.09902 16.003 2.09822 16.4394 2.24203 16.8386C2.36759 17.1871 2.57213 17.5019 2.83964 17.7582C3.14604 18.0517 3.54511 18.2282 3.96341 18.4132L4.05973 18.4559L10.4127 21.2795C10.8145 21.4585 11.1536 21.6095 11.5171 21.6709C11.8368 21.7249 12.1632 21.7249 12.4829 21.6709C12.8464 21.6095 13.1854 21.4585 13.5873 21.2795L19.9402 18.4559L20.0365 18.4132C20.4549 18.2282 20.8539 18.0517 21.1603 17.7582C21.4278 17.5019 21.6324 17.1871 21.7579 16.8386C21.9018 16.4394 21.901 16.003 21.9001 15.5456L21.9 15.4403V8.66368L21.9001 8.55395C21.9009 8.06272 21.9017 7.60792 21.752 7.19249C21.6212 6.82943 21.4082 6.50157 21.1295 6.2346C20.8107 5.92913 20.3948 5.7451 19.9455 5.54634L19.8452 5.50189L13.5873 2.72053C13.1854 2.54153 12.8464 2.39051 12.4829 2.32912C12.1632 2.27514 11.8368 2.27514 11.5171 2.32912C11.1536 2.39051 10.8145 2.54153 10.4127 2.72053L4.15475 5.50189ZM12.1831 4.10399C12.0619 4.08352 11.9381 4.08352 11.8168 4.10399C11.7061 4.12268 11.5866 4.16862 11.0659 4.40005L9.71598 5L16.5 8.01511L18.784 7L12.9341 4.40005C12.4134 4.16862 12.2938 4.12268 12.1831 4.10399ZM20.099 8.38532L16.8688 9.82096C16.8668 9.82187 16.8648 9.82278 16.8627 9.82367L13.5873 11.2795C13.3413 11.389 13.1189 11.4881 12.9 11.5626V19.6151L19.2092 16.811C19.788 16.5538 19.8666 16.5049 19.9151 16.4584C19.982 16.3944 20.0331 16.3157 20.0645 16.2285C20.0872 16.1654 20.1 16.0737 20.1 15.4403V8.66368C20.1 8.55758 20.0997 8.46549 20.099 8.38532ZM11.1 11.5626C10.8811 11.4881 10.6586 11.389 10.4127 11.2795L3.90096 8.38532C3.90031 8.46549 3.89999 8.55758 3.89999 8.66368V15.4403C3.89999 16.0737 3.91276 16.1654 3.9355 16.2285C3.96689 16.3157 4.01802 16.3944 4.0849 16.4584C4.13335 16.5049 4.212 16.5538 4.79078 16.811L11.1 19.6151V11.5626ZM5.21598 7L11.0659 9.59995C11.5866 9.83138 11.7061 9.87732 11.8168 9.89601C11.9381 9.91648 12.0619 9.91648 12.1831 9.89601C12.2938 9.87732 12.4134 9.83138 12.9341 9.59995L14.284 9L7.49999 5.98489L5.21598 7Z" fill="currentColor"/>
        </svg>
      </div>
      <div class="Active-vertical">
        <input type="radio" name="radio-vertical" value="orders"  />
         <span class="text-secondary icon-text">Мои заказы</span>
      </div>
    </label>
    <label class="labeled-icon text-highlighting-hover cursor-hand-hover ">
      <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
        <path d="M4 6.9h14.5a.9.9 0 0 0 0-1.8H4a.9.9 0 1 0 0 1.8Zm0 3.2a.9.9 0 1 0 0 1.8h3a.9.9 0 1 0 0-1.8H4Zm0 5a.9.9 0 0 0 0 1.8h2.5a.9.9 0 1 0 0-1.8H4Z M13.14 10C10.917 10 9 11.72 9 13.961c0 1.167.331 2.079 1.111 2.998.722.85 1.845 1.722 3.38 2.866l.003.002c.143.105.333.231.527.356l.124.079c.576.37 1.146.737 1.855.737.709 0 1.279-.366 1.855-.737l.124-.08c.194-.123.384-.25.527-.355l.003-.002c1.535-1.144 2.658-2.015 3.38-2.866.78-.92 1.111-1.831 1.111-2.998C23 11.721 21.084 10 18.86 10c-1.086 0-2.045.372-2.864 1.06-.824-.686-1.78-1.06-2.855-1.06Zm-2.34 3.961c0-1.147 1.007-2.161 2.34-2.161.78 0 1.498.327 2.179 1.115a.9.9 0 0 0 1.368-.007c.659-.779 1.372-1.108 2.172-1.108 1.334 0 2.341 1.014 2.341 2.161 0 .736-.177 1.236-.684 1.833-.564.665-1.505 1.413-3.081 2.586-.092.068-.24.167-.425.286-.788.503-.893.533-1.01.533-.117 0-.222-.03-1.01-.533a8.494 8.494 0 0 1-.425-.286c-1.576-1.173-2.517-1.921-3.081-2.586-.507-.597-.684-1.097-.684-1.833Z" clip-rule="evenodd"/>
        </svg>   
      </div>
      <div class="Active-vertical">
        <input type="radio" name="radio-vertical" value="favorites"  />
        <span class="text-secondary icon-text">Избранное</span>
      </div>
    </label>
    <label class="labeled-icon text-highlighting-hover cursor-hand-hover ">
      <div class="icon">
        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="M9.12680989,5.05220851 C10.3826493,4.33281204 10.600043,3.58307268 10.75,2.83333333 C10.9166768,2 11.1666667,2 11.5833333,2 C12,2 12,2 12.4166667,2 C12.8333333,2 13.0000102,2 13.25,2.83333333 C13.4752575,3.58422221 13.6328714,4.33511109 14.8811783,5.05551731 C16.277881,5.43483977 16.9617473,5.05841451 17.5979287,4.63430436 C18.3050427,4.16290703 18.4818122,4.33967654 18.77644,4.63430436 C19.0710678,4.92893219 19.0710678,4.92893219 19.3656956,5.22356001 C19.6603235,5.51818784 19.7781818,5.63604616 19.3656956,6.40207132 C18.9940181,7.09231104 18.5745094,7.73471953 18.9477915,9.12680989 C19.667188,10.3826493 20.4169273,10.600043 21.1666667,10.75 C22,10.9166768 22,11.1666667 22,11.5833333 C22,12 22,12 22,12.4166667 C22,12.8333333 22,13.0000102 21.1666667,13.25 C20.4157778,13.4752575 19.6648889,13.6328714 18.9444827,14.8811783 C18.5651602,16.277881 18.9415855,16.9617473 19.3656956,17.5979287 C19.837093,18.3050427 19.6603235,18.4818122 19.3656956,18.77644 C19.0710678,19.0710678 19.0710678,19.0710678 18.77644,19.3656956 C18.4818122,19.6603235 18.3639538,19.7781818 17.5979287,19.3656956 C16.907689,18.9940181 16.2652805,18.5745094 14.8731901,18.9477915 C13.6173507,19.667188 13.399957,20.4169273 13.25,21.1666667 C13.0833232,22 12.8333333,22 12.4166667,22 C12,22 12,22 11.5833333,22 C11.1666667,22 10.9999898,22 10.75,21.1666667 C10.5247425,20.4157778 10.3671286,19.6648889 9.11882173,18.9444827 C7.72211902,18.5651602 7.03825272,18.9415855 6.40207132,19.3656956 C5.69495734,19.837093 5.51818784,19.6603235 5.22356001,19.3656956 C4.92893219,19.0710678 4.92893219,19.0710678 4.63430436,18.77644 C4.33967654,18.4818122 4.22181821,18.3639538 4.63430436,17.5979287 C5.00598188,16.907689 5.42549062,16.2652805 5.05220851,14.8731901 C4.33281204,13.6173507 3.58307268,13.399957 2.83333333,13.25 C2,13.0833232 2,12.8333333 2,12.4166667 C2,12 2,12 2,11.5833333 C2,11.1666667 2,10.9999898 2.83333333,10.75 C3.58422221,10.5247425 4.33511109,10.3671286 5.05551731,9.11882173 C5.43483977,7.72211902 5.05841451,7.03825272 4.63430436,6.40207132 C4.16290703,5.69495734 4.33967654,5.51818784 4.63430436,5.22356001 C4.92893219,4.92893219 4.92893219,4.92893219 5.22356001,4.63430436 C5.51818784,4.33967654 5.63604616,4.22181821 6.40207132,4.63430436 C7.09231104,5.00598188 7.73471953,5.42549062 9.12680989,5.05220851 Z M12,16.75 C14.6233526,16.75 16.75,14.6233526 16.75,12 C16.75,9.37664744 14.6233526,7.25 12,7.25 C9.37664744,7.25 7.25,9.37664744 7.25,12 C7.25,14.6233526 9.37664744,16.75 12,16.75 Z" id="Mask" fill="currentColor"></path>
        </svg>
      </div>
      <div class="Active-vertical">
        <input type="radio" name="radio-vertical" value="settings"  />
        <span class="text-secondary icon-text">Настроки</span>
      </div>
    </label>
  </div>
</div>
