<div>
    <div class="card-container">
        <div class="card-header">
            <div>{{merchantsName}}</div>
        </div>
        <div class="card-content">
            <div class="avatar-container">
                <img class="avatar-image" src="https://via.placeholder.com/72x76" />
                <div class="avatar-overlay"></div>
            </div>
            <div class="card-info">
                <div class="date">
                    <div>на Волчке с {{registrationDate}}</div>
                </div>
                <div class="rating">

                </div>
            </div>
        </div>
    </div>

    {{#if isProfileVerified}}
    <div class="profile-card cursor-hand-hover"
        href="https://docs.google.com/document/d/1bMqtefaH_Lw5A0UaoYnuNrN_bBG9JdPVySsgkeyYIcs/edit">
        <div class="profile-icon-container">
            <div class="verified-profile-icon">
                <div class="icon-group">
                    <div class="icon-vector"><svg width="18" height="23" viewBox="0 0 18 23" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.99039 0.609863L-0.00585938 4.6082V10.6057C-0.00585938 16.1534 3.83254 21.3412 8.99039 22.6007C14.1482 21.3412 17.9866 16.1534 17.9866 10.6057V4.6082L8.99039 0.609863Z"
                                fill="#B9E28C" />
                        </svg>
                    </div>
                    <div class="icon-vector-white"><svg width="12" height="17" viewBox="0 0 12 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.99055 8.07551C9.27939 8.07551 11.9884 9.39504 11.9884 11.0744C11.7485 11.6043 11.4586 12.1041 11.1187 12.6039C9.90754 14.4579 8.09763 15.8409 5.99055 16.5225C3.88347 15.8409 2.07356 14.4579 0.862368 12.6039C0.522488 12.1041 0.232591 11.6043 -0.00732422 11.0744C-0.00732422 9.42503 2.70172 8.07551 5.99055 8.07551ZM5.99055 0.608154C6.78592 0.608154 7.54871 0.924113 8.11112 1.48652C8.67353 2.04893 8.98949 2.81172 8.98949 3.60709C8.98949 4.40246 8.67353 5.16525 8.11112 5.72766C7.54871 6.29007 6.78592 6.60603 5.99055 6.60603C5.19518 6.60603 4.43239 6.29007 3.86998 5.72766C3.30757 5.16525 2.99161 4.40246 2.99161 3.60709C2.99161 2.81172 3.30757 2.04893 3.86998 1.48652C4.43239 0.924113 5.19518 0.608154 5.99055 0.608154Z"
                                fill="white" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-info">
            <div class="profile-status">
                <div>Подтвержденный профиль</div>
            </div>
            <div class="profile-actions">
                <div class="action-icon">
                    <div class="icon-vector-gray"><svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.48" fill-rule="evenodd" clip-rule="evenodd"
                                d="M8.77904 0.510498C10.8593 0.510498 12.8543 1.33686 14.3252 2.80781C15.7962 4.27875 16.6225 6.27377 16.6225 8.354C16.6225 10.4342 15.7962 12.4292 14.3252 13.9002C12.8543 15.3711 10.8593 16.1975 8.77904 16.1975C6.69894 16.1975 4.70404 15.3712 3.2332 13.9003C1.76235 12.4295 0.936035 10.4346 0.936035 8.3545C0.936035 6.27441 1.76235 4.27951 3.2332 2.80866C4.70404 1.33781 6.69894 0.510498 8.77904 0.510498ZM8.77904 1.4915C7.87777 1.4915 6.98534 1.66901 6.15268 2.01391C5.32002 2.35881 4.56345 2.86434 3.92616 3.50162C3.28887 4.13891 2.78335 4.89548 2.43845 5.72814C2.09355 6.5608 1.91603 7.45324 1.91603 8.3545C1.91603 9.25576 2.09355 10.1482 2.43845 10.9809C2.78335 11.8135 3.28887 12.5701 3.92616 13.2074C4.56345 13.8447 5.32002 14.3502 6.15268 14.6951C6.98534 15.04 7.87777 15.2175 8.77904 15.2175C10.5992 15.2175 12.3448 14.4944 13.6319 13.2074C14.919 11.9203 15.642 10.1747 15.642 8.3545C15.642 6.53432 14.919 4.78869 13.6319 3.50162C12.3448 2.21456 10.5992 1.4915 8.77904 1.4915ZM9.51403 7.4235V12.3255H8.04503V7.4235H9.51504H9.51403ZM8.77904 4.4335C8.90773 4.4335 9.03516 4.45885 9.15406 4.5081C9.27296 4.55735 9.381 4.62953 9.472 4.72053C9.563 4.81153 9.63519 4.91957 9.68444 5.03847C9.73369 5.15737 9.75904 5.2848 9.75904 5.4135C9.75904 5.54219 9.73369 5.66963 9.68444 5.78853C9.63519 5.90743 9.563 6.01546 9.472 6.10646C9.381 6.19746 9.27296 6.26965 9.15406 6.3189C9.03516 6.36815 8.90773 6.3935 8.77904 6.3935C8.51912 6.3935 8.26986 6.29025 8.08607 6.10646C7.90229 5.92268 7.79904 5.67341 7.79904 5.4135C7.79904 5.15359 7.90229 4.90432 8.08607 4.72053C8.26986 4.53675 8.51912 4.4335 8.77904 4.4335Z"
                                fill="#858585" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    <div class="statistics-container">
        <div class="statistics-item cursor-hand-hover">
            <div class="statistics-button">
                <div class="button-number">{{reviewCount}}</div>
                <div class="button-label">отзыв</div>
            </div>
        </div>
        <div class="statistics-item cursor-hand-hover">
            <div class="statistics-button">
                <div class="button-number">{{subscribersCount}}</div>
                <div class="button-label">подписчик</div>
            </div>
        </div>
        <div class="statistics-item cursor-hand-hover">
            <div class="statistics-button">
                <div class="button-number">{{subscribtionsCount}}</div>
                <div class="button-label">подписок</div>
            </div>
        </div>
    </div>

    <ul class="labels-group radio-group-vertical">
        <li class="labeled-icon text-underline-hover cursor-hand-hover">
            <div class="icon">
                <img src="images/list.svg">
            </div>
            <label class="Active">
                <input type="radio" name="radio" value="adverts" {{#if checked}}checked{{/if}} />
                <a class="icon-text" href="{{urlMerchant}}" data-url="{{urlMerchant}}">Мои объявления</a>
            </label>
        </li>
        <li class="labeled-icon text-underline-hover cursor-hand-hover">
            <div class="icon">
                <img src="images/cart.svg">
            </div>
            <label class="Active">
                <input type="radio" name="radio" value="orders" {{#if checked}}checked{{/if}} />
                <a class="icon-text" href="{{urlOrder}}" data-url="{{urlOrder}}">Мои заказы</a>
            </label>
        </li>
        <li class="labeled-icon text-underline-hover cursor-hand-hover ">
            <div class="icon">
                <img src="images/cog.svg">
            </div>
            <label class="Active">
                <input type="radio" name="radio" value="settings" {{#if checked}}checked{{/if}} />
                <a class="icon-text" href="{{urlSettings}}" data-url="{{urlSettings}}">Настройки</a>
            </label>
        </li>
    </ul>
</div>

</div>