<div>
    <div class="card-container">
        <div class="card-header">
            <div>{{merchantsName}}</div>
        </div>
        <div class="card-content">
            <div class="avatar-container">
                {{#if (is_null avatar)}}
                    <img class="avatar-image" src="public/images/img_avatar.png" />
                {{^}}
                    <img class="avatar-image" src="data:image;base64,{{avatar}}" />
                {{/if}}
                <div class="avatar-overlay"></div>
            </div>
            <div class="card-info">
                <div class="date">
                    <div>на Волчке с {{registrationDate}}</div>
                </div>
                <div class="rating"></div>
            </div>
        </div>
    </div>

    {{#if isProfileVerified}}
        <div class="profile-card cursor-hand-hover">
            <div class="profile-icon-container">
                <div class="verified-profile-icon">
                    <div class="icon-group">
                        <div class="icon-vector">
                            <img src="images/icon-vector.svg" alt="icon-vector">
                        </div>
                        <div class="icon-vector-white">
                            <img src="images/icon-vector-white.svg" alt="icon-vector-white">
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-info">
                <div class="profile-status">
                    <div>Подтвержденный профиль</div>
                </div>
                <div class="profile-actions">
                    <div class="action-icon">
                        <div class="icon-vector-gray">
                            <img src="images/icon-vector-gray.svg" alt="icon-vector-gray">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    <div class="statistics-container">
        <div class="statistics-item cursor-hand-hover">
            <div class="statistics-button">
                <div class="button-number">{{reviewCount}}</div>
                <div class="button-label">отзыв</div>
            </div>
        </div>
        <div class="statistics-item cursor-hand-hover">
            <div class="statistics-button">
                <div class="button-number">{{subscribersCount}}</div>
                <div class="button-label">подписчик</div>
            </div>
        </div>
        <div class="statistics-item cursor-hand-hover">
            <div class="statistics-button">
                <div class="button-number">{{subscribtionsCount}}</div>
                <div class="button-label">подписок</div>
            </div>
        </div>
    </div>

    <div class="labels-group verticle-button-group-profile radio-group-vertical">
        <label class="labeled-icon text-highlighting-hover cursor-hand-hover">
            <div class="icon">
                <img src="images/profile_adverts_icon.svg" alt="profile_adverts_icon">
            </div>
            <div class="Active-vertical">
                <input type="radio" name="radio-vertical" value="adverts" checked />
                <span class="text-secondary icon-text">Мои объявления</span>
            </div>
        </label>
        <label class="labeled-icon text-highlighting-hover cursor-hand-hover">
            <div class="icon">
                <img src="images/profile_orders_icon.svg" alt="profile_orders_icon">
            </div>
            <div class="Active-vertical">
                <input type="radio" name="radio-vertical" value="orders"  />
                <span class="text-secondary icon-text">Мои заказы</span>
            </div>
        </label>
        <label class="labeled-icon text-highlighting-hover cursor-hand-hover ">
            <div class="icon">
                <img src="images/profile_favorites_icon.svg" alt="profile_favorites_icon">
            </div>
            <div class="Active-vertical">
                <input type="radio" name="radio-vertical" value="favorites"  />
                <span class="text-secondary icon-text">Избранное</span>
            </div>
        </label>
        <label class="labeled-icon text-highlighting-hover cursor-hand-hover ">
            <div class="icon">
                <img src="images/profile_settings_icon.svg" alt="profile_settings_icon">
            </div>
            <div class="Active-vertical">
                <input type="radio" name="radio-vertical" value="settings"  />
                <span class="text-secondary icon-text">Настройки</span>
            </div>
        </label>
    </div>
</div>
