<dialog class="price-history-dialog">
    <div class="dialog-close">
        <div class="dialog-close__btn">
            &#10006;
        </div>
    </div>
    <div class="price-history-dialog__container">
        <div class="price-history-modal">
            <div class="price-history-modal__content">
                <div class="price-history-modal__price">{{price}} ₽</div>
                <div class="price-history-modal__range">Диапазон: {{priceMin}} ₽ — {{priceMax}} ₽</div>
                <canvas class="price-history-modal__canvas" width="360" height="180"></canvas>
                <div class="price-history-modal__slider">
                    {{#each points}}
                        <div class="price-history-modal__element" data-point="{{this.index}}"></div>
                    {{/each}}
                </div>
                <div class="price-history-modal__date">
                    <div class="price-history-modal__begin-date">{{beginDate}}</div>
                    <div class="price-history-modal__end-date">{{endDate}}</div>
                </div>
                <div class="message message--hidden">
                    <div class="message__date"></div>
                    <div class="message__price"></div>
                </div>
            </div>
        </div>
    </div>
</dialog>
