{{!-- <div>
<canvas id="canvas" width="400px" height="400px"></canvas>
<br>Choose a color : <input type="color" id="colore" value="#FF0000"/>
<ul id="sliders"></ul>
</div> --}}

{{!-- <canvas id="bar-chart" width="400" height="300"></canvas> --}}

{{!-- <section class="graph">
</section> --}}
<div>
{{#each questions}}
<h4 id="{{this.num}}">{{this.title}}</h4>
<ul class="chart">
  {{#each this.options}}
	<li class="chart__bar">{{this.option}}</li>
  {{/each}}
	{{!-- <li class="chart__bar">age</li>
	<li class="chart__bar">weight</li> --}}
</ul>
{{/each}}
</div>
{{!-- <div>
{{#each questions}}
  <div class="interactive-widget__body interactive-widget__body--active" id="q{{this.num}}">
    <div class="interactive-widget__body__header">
      <h4>{{this.title}}</h4>
      <p>{{this.postTitle}}</p>
    </div>
    <div class="interactive-widget__body__body">
    <div class="questionary-wrapper">
      {{#each this.options}}
        <label class="custom-radioBtn">
          <input type="radio" name="{{../num}}" value="{{this.value}}">
          <span class="checkmark">{{this.option}}</span>
        </label>
      {{/each}}
    </div>
    </div>
  </div>
  {{/each}}
  </div> --}}
