<dialog class="profile-edit-dialog" id="my-dialog">
    <div class="profile-close-block">
        <div class="profile-close-btn">
            &#10006
        </div>
    </div>
    <div class="profile-container">
        <div class="profile-modal">
            <form class="profile-modal-content" enc-type="multipart/form-data" method="post" action="/submit">
                <div class="profile-header-title">
                    {{title}}
                </div>
                {{#if hasAvatar}}
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" name="avatar">
                            <label for="imageUpload"></label>
                        </div>
                        <div class="avatar-preview">
                            {{#if (is_null avatar)}}
                                <div id="imagePreview" style="background-image: url(images/img_avatar.png);"></div>
                            {{^}}
                                <div id="imagePreview" style="background-image: url(data:image/png;base64,{{avatar}});"></div>
                            {{/if}}
                        </div>
                    </div>
                {{/if}}
                {{#each fields}}
                    {{#if this.isPhone}}
                        <div class="profile-modal-fields">
                            <input type="{{this.type}}" value="{{this.value}}" name="{{this.name}}" placeholder="{{this.place}}" class="profile-text" id="phone" required>
                        </div>
                    {{^}}
                        {{#if this.isCitySearch}}
                            <div class="ddws-div"></div>
                        {{^}}
                            <div class="profile-modal-fields">
                                <input type="{{this.type}}" value="{{this.value}}" name="{{this.name}}" class="profile-text" placeholder="{{this.place}}" required>
                            </div>
                        {{/if}}
                    {{/if}}
                {{/each}}
                <input class="submit-btn" type="submit" value="Сохранить">
                <div class="error"></div>
                <input type="hidden" name="CSRFToken" value="{{CSRFToken}}">
            </form>
        </div>
    </div>
</dialog>
