<dialog class="my-dialog" id="myDialog">
    <div class="close-icon cursor-hand-hover">
        <div class="line line1"></div>
        <div class="line line2"></div>
    </div>
    <div class="container" id="myDiv">
        <div class="modal">
            <form class="modal-content" enc-type="multipart/form-data" method="post" action="/submit">
                <div class="modal-header">
                    <div class="header-text">
                        <div>{{title}}</div>
                    </div>
                </div>
                {{#each fields}}
                {{#if this.isPhone}}
                <div class="modal-fields">
                    <input type="{{this.type}}" value="{{this.value}}" name="{{this.name}}" pattern="[0-9]{11}"
                        required>
                </div>
                {{^}}
                <div class="modal-fields">
                    <input type="{{this.type}}" value="{{this.value}}" name="{{this.name}}" required>
                </div>
                {{/if}}
                {{/each}}
                <div class="modal-buttons">
                    <input class="common-button-blacklist action-button-blacklist cursor-hand-hover" type="submit"
                        value="Сохранить">
                    <div class="common-button-blacklist cancel-button-blacklist cursor-hand-hover">
                        <div>Отмена</div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</dialog>