<dialog class="profile-edit-dialog" id="my-dialog">
    <div class="profile-close-block">
        <div class="profile-close-btn">
            &#10006
        </div>
    </div>
    <div class="profile-container">
        <div class="profile-modal">
            <form class="profile-modal-content" enc-type="multipart/form-data" method="post" action="/submit">
                <div class="profile-header-title">
                    {{title}}
                </div>
                {{#each fields}}
                {{#if this.isPhone}}
                <input type="{{this.type}}" value="{{this.value}}" name="{{this.name}}" pattern="[0-9]{11}"
                    placeholder="+7(___)___-__-__" required>
                {{^}}
                <div class="profile-modal-fields">
                    <input type="{{this.type}}" value="{{this.value}}" name="{{this.name}}" required>
                </div>
                {{/if}}
                {{/each}}
                <input class="submit-btn" type="submit" value="Сохранить">
            </form>
        </div>
    </div>
</dialog>