<div class="pre-header">
    <div class="internal-div">
        <div class="section-nav">
            <div class="location-label">Местоположение:</div>
            <div class="location-value">
                <div class="location-icon">
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.81321 0.666769C11.2528 0.146089 11.9725 -0.114251 12.4422 0.0478789C12.8504 0.188829 13.1713 0.509649 13.3122 0.917939C13.4744 1.38759 13.214 2.10735 12.6933 3.54687L10.2478 10.308C9.66501 11.9194 9.37361 12.7251 9.0014 12.9024C8.68025 13.0554 8.30211 13.027 8.00736 12.8279C7.6658 12.597 7.49777 11.7569 7.16171 10.0766L6.51534 6.84477L3.28351 6.1984C1.60321 5.86234 0.763057 5.69431 0.532247 5.35275C0.333074 5.058 0.304723 4.67986 0.457727 4.35871C0.635027 3.98654 1.44073 3.69512 3.05213 3.11227L9.81321 0.666769Z" fill="black"/>
                    </svg>
                </div>
                <div class="location-name">{{location}}</div>
            </div>
        </div>
        <div class="section-nav-actions">
            <div class="like-action">
                <div class="like-icon">
                    <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.45625 1.5C3.07005 1.5 1.91675 2.655 1.91675 4.117C1.91675 4.9755 2.06615 5.5055 2.53325 6.1438C3.07605 6.8856 4.05095 7.7744 5.86425 9.2181L7.41675 10.4539L8.96915 9.2181C10.7826 7.7744 11.7574 6.8856 12.3002 6.1438C12.7673 5.5055 12.9167 4.9755 12.9167 4.1169C12.9167 2.6551 11.7634 1.5 10.3772 1.5C9.64315 1.5 9.07505 1.8348 8.66695 2.2067C8.44035 2.4133 8.22615 2.6554 8.07095 2.9216C8.00574 3.03787 7.91072 3.13467 7.79567 3.20201C7.68062 3.26935 7.5497 3.30482 7.41639 3.30474C7.28308 3.30467 7.1522 3.26907 7.03722 3.2016C6.92225 3.13414 6.82733 3.03724 6.76225 2.9209C6.60735 2.6549 6.39355 2.4129 6.16725 2.2065C5.75965 1.835 5.19165 1.5 4.45625 1.5ZM7.41715 1.3318C7.34009 1.25124 7.26031 1.17333 7.17795 1.0982C6.59595 0.5674 5.68365 0 4.45625 0C2.20895 0 0.416748 1.8598 0.416748 4.117C0.416748 5.2393 0.637548 6.0933 1.32275 7.0297C2.00085 7.9564 3.13135 8.9597 4.93005 10.3916L6.58415 11.7084C6.82059 11.8972 7.11418 12 7.41675 12C7.71932 12 8.01291 11.8972 8.24935 11.7084L9.90345 10.3916C11.7021 8.9597 12.8326 7.9564 13.5107 7.0296C14.1959 6.0933 14.4167 5.2392 14.4167 4.1169C14.4167 1.8598 12.6245 0 10.3772 0C9.15085 0 8.23865 0.5676 7.65665 1.098C7.57419 1.1732 7.49431 1.25118 7.41715 1.3318Z" fill="black"/>
                    </svg>
                </div>
                <div class="like-text">Избранное</div>
            </div>
            <a class="cart-action" href="{{urlCart}}" data-url="{{urlCart}}">
                <div class="cart-icon">
                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.83275 2.01295C1.61093 2.00199 1.38881 1.99833 1.16675 2.00195C0.967836 2.00195 0.77707 1.92294 0.636418 1.78228C0.495766 1.64163 0.416748 1.45087 0.416748 1.25195C0.416748 1.05304 0.495766 0.862275 0.636418 0.721623C0.77707 0.580971 0.967836 0.501953 1.16675 0.501953H1.19175C1.47675 0.501953 1.73175 0.501953 1.94375 0.516953C2.17175 0.533953 2.40375 0.571953 2.63775 0.673953C3.08495 0.870727 3.44682 1.22125 3.65775 1.66195L11.6297 2.07495C12.0427 2.09595 12.4027 2.11495 12.6917 2.15495C12.9927 2.19895 13.3117 2.27595 13.5967 2.47695C13.9997 2.76095 14.2797 3.18695 14.3817 3.66795C14.4537 4.00795 14.3987 4.33295 14.3197 4.62695C14.2427 4.90895 14.1187 5.24695 13.9747 5.63495L13.6517 6.50895C13.2837 7.50795 13.0287 8.19695 12.5717 8.71895C12.1691 9.17941 11.66 9.53439 11.0887 9.75295C10.4387 10.001 9.70475 10.001 8.64075 9.99995H5.98075C5.68875 9.99995 5.42975 9.99995 5.21275 9.98395C4.96892 9.97149 4.72922 9.91596 4.50475 9.81995C4.15175 9.66146 3.85082 9.40629 3.63675 9.08395C3.50561 8.87835 3.41184 8.65119 3.35975 8.41295C3.30353 8.16304 3.25616 7.91122 3.21775 7.65795L2.46275 3.09995C2.42993 2.88036 2.38991 2.66191 2.34275 2.44495C2.33119 2.37674 2.30856 2.31087 2.27575 2.24995C2.2172 2.16038 2.13379 2.08983 2.03575 2.04695C1.97043 2.02433 1.90187 2.01351 1.83275 2.01295ZM3.99675 3.18095L4.69375 7.38695C4.74675 7.70695 4.78075 7.90695 4.81675 8.05695C4.85175 8.19695 4.87675 8.23895 4.88675 8.25395C4.94414 8.34065 5.02493 8.4093 5.11975 8.45195C5.18595 8.47527 5.25556 8.48744 5.32575 8.48795C5.47975 8.49895 5.68175 8.49995 6.00575 8.49995H8.49575C9.76275 8.49995 10.1957 8.48795 10.5527 8.35195C10.8955 8.22096 11.2011 8.00811 11.4427 7.73195C11.6947 7.44495 11.8557 7.04195 12.2947 5.85395L12.5567 5.14495C12.7147 4.71795 12.8147 4.44395 12.8717 4.23495C12.8987 4.13495 12.9097 4.07095 12.9137 4.02895C12.915 4.01566 12.9153 4.00229 12.9147 3.98895V3.97895C12.8913 3.86719 12.8262 3.76853 12.7327 3.70295L12.7227 3.69795C12.7111 3.69251 12.699 3.68784 12.6867 3.68395C12.6194 3.66387 12.5505 3.64948 12.4807 3.64095C12.2657 3.61095 11.9747 3.59495 11.5197 3.57095L3.99675 3.18095ZM5.91675 12.252C5.91675 12.5835 5.78505 12.9014 5.55063 13.1358C5.31621 13.3703 4.99827 13.502 4.66675 13.502C4.33523 13.502 4.01729 13.3703 3.78286 13.1358C3.54844 12.9014 3.41675 12.5835 3.41675 12.252C3.41675 11.9204 3.54844 11.6025 3.78286 11.3681C4.01729 11.1336 4.33523 11.002 4.66675 11.002C4.99827 11.002 5.31621 11.1336 5.55063 11.3681C5.78505 11.6025 5.91675 11.9204 5.91675 12.252ZM10.6667 13.502C10.9983 13.502 11.3162 13.3703 11.5506 13.1358C11.7851 12.9014 11.9167 12.5835 11.9167 12.252C11.9167 11.9204 11.7851 11.6025 11.5506 11.3681C11.3162 11.1336 10.9983 11.002 10.6667 11.002C10.3352 11.002 10.0173 11.1336 9.78286 11.3681C9.54844 11.6025 9.41675 11.9204 9.41675 12.252C9.41675 12.5835 9.54844 12.9014 9.78286 13.1358C10.0173 13.3703 10.3352 13.502 10.6667 13.502Z" fill="black"/>
                    </svg>
                </div>
                <div class="cart-text">Корзина</div>
            </a>
        </div>
    </div>
</div>

<div class="navbar">
    <a href="{{urlMain}}" data-url="{{urlMain}}">
        <img class="logo" src="images/vol4ok.svg">	
    </a>
    <a class="name" href="{{urlMain}}" data-url="{{urlMain}}">ВОЛЧОК</a>
	
    <div class="dropdown">
        <button class="dropbtn">
            <i class="fa fa-list-ul"></i>
	    Категории
        </button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <form class="search">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Поиск по объявлениям" name="search">
	<button type="submit">Найти</button>
    </form>
    <a class="btn-success" href="#" >Разместить объявление</a>
    {{#if flag}}
        <div class="dropdown">
            <img class="profile-icon" src="images/img_avatar.png">
            <div class="dropdown-content dropdown-content-right">
                <a href="#">Профиль</a>
                <a href="#" class="logout">Выйти</a>
            </div>
        </div>
    {{^}}
        <a class="btn-secondary" href="{{urlLogin}}" data-url="{{urlLogin}}">Войти</a>
    {{/if}}
</div> 
